 <div class="row" style="margin-top:10px">
  <div class="col-sm-8">
  <div class="form-group col-sm-12" >
     <input type="text" name="" class="form-control" (keyup.enter)="addTodo(todotext)" #todotext>
    
  </div>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-primary"  (click)="addTodo(todotext)">Ekle</a>
  </div>
 </div>
 <table class="table" *ngIf="todos.length; else emptywarning ">
    <thead>
      <tr>
        <th>Yapılacak</th>
        <th>Ekleme Tarihi</th>
        <th>Sil</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let todo of todos; ">
       <td>{{todo.text}}</td>
       <td>{{todo.cdate | date:'dd-MM-yyyy'}}</td>
       <td><a class="btn btn-danger" (click)="deleteTodo(todo)">Sil</a></td>
      </tr>
      
    </tbody>
  </table>

  <ng-template #emptywarning>
    <div class="alert alert-danger">
       Yapılcaklar listesi boş
    </div>

  </ng-template>